<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Programa Ingenieria Electrónica</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header class="header">
        <div class="container">
            <h1>Programa Ingenieria Electrónica</h1>
            <nav>
                <ul class="nav">
                    <li><a href="#overview">Revision</a></li>
                    <li><a href="#curriculum">Curriculo</a></li>
                    <li><a href="#faculty">Facultad</a></li>
                    <li><a href="#labs">Laboratorios</a></li>
                    <li><a href="#contact">Contacto</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <main>
        <section id="overview" class="section">
            <div class="container">
                <h2>Proyecto curricular de ingeniería electrónica</h2>
                <p>
                    El actualmente denominado proyecto curricular de Ingeniería Electrónica 
                    fue uno de los primeros programas de la Universidad Distrital 
                    “Francisco José de Caldas” y fue base para el desarrollo de la Facultad 
                    de Ingeniería y de las demás Facultades existentes al interior del alma mater.

                </p> 
                <p>     
                    El Ingeniero Electrónico egresado de la Universidad Distrital es 
                    una persona con sólidos conocimientos en ciencia, tecnología e 
                    investigación, conscientes de su entorno social, cívico y ambiental
                    , preparados para liderar y brindar soluciones con sentido creativo, 
                    crítico, innovador; como ser social es recursivo y proactivo; formado 
                    en diversos campos, con conocimientos fundamentados en los últimos avances
                     teóricos y tecnológicos de las disciplinas soporte de su formación y en 
                     los últimos avances metodológicos en TIC que ha adquirido y aprehendido en el 
                     transcurso de su vida universitaria para crear, proponer, abstraer, adaptar,
                      interpretar, modelar, argumentar, diseñar, desarrollar, implementar, evaluar,
                       mejorar, auditar y liderar proyectos complejos en las diferentes áreas de su 
                       formación como Ingeniero.
                </p>
            </div>
        </section>

        <section id="curriculum" class="section bg-light">
            <div class="container">
                <h2>Curriculum</h2>
                <ul>
                    <li><strong>Semestre I</strong>
                        <ul>
                            <li><a href="{{ url_for('generar_syllabus', filename='1_2_Programación_Básica.json') }}">Programación Básica</a></li>
                            <li><a href="{{ url_for('generar_syllabus', filename='1_1_Cálculo_Diferencial.json') }}">Cálculo Diferencial</a></li>
                            <li><a href="{{ url_for('generar_syllabus', filename='1_1_Cálculo_Diferencial.json') }}">Seminario de ingeniería</a></li>
                            <li><a href="{{ url_for('generar_syllabus', filename='1_1_Cálculo_Diferencial.json') }}">Física I: Mecánica Newtoniana</a></li>
                            <li><a href="{{ url_for('generar_syllabus', filename='1_1_Cálculo_Diferencial.json') }}">Cátedra F.J. de C.</a></li>
                            <li><a href="{{ url_for('generar_syllabus', filename='1_1_Cálculo_Diferencial.json') }}">Producción y Comprensión de Textos</a></li>
                        </ul>
                    </li>
                    <li><strong>Semestre II</strong>
                        <ul>
                            <li><a href="{{ url_for('generar_syllabus', filename='1_1_Cálculo_Diferencial.json') }}">Álgebra Lineal</a></li>
                            <li><a href="{{ url_for('generar_syllabus', filename='1_1_Cálculo_Diferencial.json') }}">Cálculo Integral</a></li>
                            <li><a href="{{ url_for('generar_syllabus', filename='1_1_Cálculo_Diferencial.json') }}">Física II: Electromagnetismo</a></li>
                            <li><a href="{{ url_for('generar_syllabus', filename='1_1_Cálculo_Diferencial.json') }}">Análisis de Circuitos I y Lab.</a></li>
                            <li><a href="{{ url_for('generar_syllabus', filename='1_1_Cálculo_Diferencial.json') }}">Programación Orientada a Objetos</a></li>
                            <li><a href="{{ url_for('generar_syllabus', filename='1_1_Cálculo_Diferencial.json') }}">Historia y Cultura Colombiana</a></li>
                        </ul>
                    </li>
                    <li><strong>Semestre III</strong>
                        <ul>
                            <li><a href="{{ url_for('generar_syllabus', filename='1_1_Cálculo_Diferencial.json') }}">Matemáticas Especiales I</a></li>
                            <li><a href="{{ url_for('generar_syllabus', filename='1_1_Cálculo_Diferencial.json') }}">Estadística y Probabilidades</a></li>
                            <li><a href="{{ url_for('generar_syllabus', filename='1_1_Cálculo_Diferencial.json') }}">Análisis de Circuitos II y Lab.</a></li>
                            <li><a href="{{ url_for('generar_syllabus', filename='1_1_Cálculo_Diferencial.json') }}">Electrónica I</a></li>
                            <li><a href="{{ url_for('generar_syllabus', filename='1_1_Cálculo_Diferencial.json') }}">Segunda Lengua I</a></li>
                            <li><a href="{{ url_for('generar_syllabus', filename='1_1_Cálculo_Diferencial.json') }}">Contexto y Ecología</a></li>
                        </ul>
                    </li>
                    <li><strong>Semestre IV</strong>
                        <ul>
                            <li><a href="{{ url_for('generar_syllabus', filename='1_1_Cálculo_Diferencial.json') }}">Matemáticas Especiales II</a></li>
                            <li><a href="{{ url_for('generar_syllabus', filename='1_1_Cálculo_Diferencial.json') }}">Señales y Sistemas</a></li>
                            <li><a href="{{ url_for('generar_syllabus', filename='1_1_Cálculo_Diferencial.json') }}">Electrónica II</a></li>
                            <li><a href="{{ url_for('generar_syllabus', filename='1_1_Cálculo_Diferencial.json') }}">Instrumentación Electrónica</a></li>
                            <li><a href="{{ url_for('generar_syllabus', filename='1_1_Cálculo_Diferencial.json') }}">Electiva Extrínseca I</a></li>
                            <li><a href="{{ url_for('generar_syllabus', filename='1_1_Cálculo_Diferencial.json') }}">Hombre, Sociedad y Cultura</a></li>
                        </ul>
                    </li>
                    <li><strong>Semestre V</strong>
                        <ul>
                            <li><a href="{{ url_for('generar_syllabus', filename='1_1_Cálculo_Diferencial.json') }}">Matemáticas Especiales III</a></li>
                            <li><a href="{{ url_for('generar_syllabus', filename='1_1_Cálculo_Diferencial.json') }}">Microcontroladores</a></li>
                            <li><a href="{{ url_for('generar_syllabus', filename='1_1_Cálculo_Diferencial.json') }}">Electrónica III</a></li>
                            <li><a href="{{ url_for('generar_syllabus', filename='1_1_Cálculo_Diferencial.json') }}">Sistemas Dinámicos</a></li>
                            <li><a href="{{ url_for('generar_syllabus', filename='1_1_Cálculo_Diferencial.json') }}">Electiva Extrínseca II</a></li>
                            <li><a href="{{ url_for('generar_syllabus', filename='1_1_Cálculo_Diferencial.json') }}">Segunda Lengua II</a></li>
                        </ul>
                    </li>
                    <li><strong>Semestre VI</strong>
                        <ul>
                            <li>Análisis de Fourier y Wavelets</li>
                            <li>Microprocesadores</li>
                            <li>Electrónica de Potencia</li>
                            <li>Telemática I</li>
                            <li>Electiva Intrínseca I</li>
                            <li>Segunda Lengua III</li>
                        </ul>
                    </li>
                    <li><strong>Semestre VII</strong>
                        <ul>
                            <li>Telecomunicaciones I</li>
                            <li>Control I</li>
                            <li>Electiva Intrínseca II</li>
                            <li>Electiva Intrínseca III</li>
                            <li>Electiva Extrínseca III</li>
                            <li>Ética y Bioética</li>
                        </ul>
                    </li>
                    <li><strong>Semestre VIII</strong>
                        <ul>
                            <li>Telecomunicaciones II</li>
                            <li>Control II</li>
                            <li>Electiva Intrínseca IV</li>
                            <li>Electiva Intrínseca V</li>
                            <li>Electiva Extrínseca IV</li>
                            <li>Proyecto de Grado I</li>
                        </ul>
                    </li>
                    <li><strong>Semestre IX</strong>
                        <ul>
                            <li>Telecomunicaciones III</li>
                            <li>Control III</li>
                            <li>Electiva Intrínseca VI</li>
                            <li>Electiva Intrínseca VII</li>
                            <li>Seminario de Trabajo de Grado</li>
                        </ul>
                    </li>
                    <li><strong>Semestre X</strong>
                        <ul>
                            <li>Trabajo de Grado II</li>
                            <li>Formación, Gestión y Evaluación de Proyectos</li>
                            <li>Electiva Intrínseca VIII</li>
                            <li>Electiva Intrínseca IX</li>
                            <li><a href="/syllabus">Modificar syllabus de curso</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </section>
        

        <section id="faculty" class="section">
            <div class="container">
                <h2>Faculty</h2>
                <div class="faculty">
                    <div class="faculty-member">
                        <img  alt="Dr. Jane Smith">
                        <h3>Dr. Jane Smith</h3>
                        <p>Professor of Signal Processing</p>
                    </div>
                    <div class="faculty-member">
                        <img  alt="Dr. John Doe">
                        <h3>Dr. John Doe</h3>
                        <p>Professor of Embedded Systems</p>
                    </div>
                    <div class="faculty-member">
                        <img  alt="Dr. Emily Johnson">
                        <h3>Dr. Emily Johnson</h3>
                        <p>Professor of Telecommunications</p>
                    </div>
                </div>
            </div>
        </section>

        <section id="labs" class="section bg-light">
            <div class="container">
                <h2>Labs</h2>
                <p>
                    Our state-of-the-art laboratories provide students with hands-on experience in circuit design, signal processing, and embedded systems.
                </p>
                <ul>
                    <li>Electronic Circuits Lab</li>
                    <li>Signal Processing Lab</li>
                    <li>Embedded Systems Lab</li>
                    <li>Telecommunications Lab</li>
                </ul>
            </div>
        </section>

        <section id="contact" class="section">
            <div class="container">
                <h2>Contact Us</h2>
                <p>
                    If you have any questions or would like more information about our Electronic Engineering program, please contact us.
                </p>
                <p> Creado por Harryson Daniel Guerrero Rosas 20191005102</p>
                <form class="contact-form">
                    <label